aniso8601==8.1.1
asgiref==3.4.0
Django==3.2.4
django-filter==2.4.0
django-graphql-auth==0.3.16
django-graphql-jwt==0.3.0
graphene==3.0b7
graphene-django==3.0.0b7
graphql-core==2.3.2
graphql-relay==3.1.0
promise==2.3
PyJWT==1.7.1
pytz==2021.1
Rx==1.6.1
six==1.16.0
sqlparse==0.4.1
text-unidecode==1.3
